<div fxLayout='row' fxLayoutAlign='start space-between'>
	<button mat-raised-button class="btn button" [routerLink]="'owner/create'" routerLinkActive="active">
		Добавить
	</button>
	<button mat-raised-button (click)="onView()" class="btn button" [routerLink]="['owner', ownerId]" [disabled]="isDisabled">
		Просмотреть
	</button>
	<button mat-raised-button (click)="onEdit()" class="btn button" [routerLink]="['owner/edit', ownerId]" [disabled]="isDisabled">
		Редактировать
	</button>
	<button mat-raised-button (click)="onRemove()" class="btn button" [disabled]="isDisabled">
		Удалить
	</button>
</div>
<router-outlet></router-outlet>
<app-list (selectedRowId)='onSelect($event)' [entities]="owners" [columns]="columns"></app-list>